$main-text-color: #060b35;
$main-line-height: 18px;
$smaller-line-height: 14px;
$small-font-size: 10px;
$medium-font-size: 12px;
$image-height: 134px;
$image-width: 160px;
$margin-top-proportion: 4px;
